.form__buttton {
  width: 50%;
  padding: 0 10px;
  font-size: 1rem;
  background: #f00d0d;
  outline: none;
  border: none;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}

.form__buttton:hover {
  background: #f40612;
}

.email-login {
  z-index: 1;
  font-size: 62.5%;
  color: white;
  font-family: sans-serif;
}

.text-login {
  text-align: center;
}

.text-login h1 {
  font-size: 5em;
  max-width: 640px;
  text-align: center;
  margin: 1rem auto;
}

.text-login p {
  font-size: 1.6rem;
}

.form {
  display: flex;
  width: 580px;
  flex-direction: column;
}

form {
  display: flex;
  margin-top: 30px;
}

.input {
  height: auto;
  outline: none;
  width: 80%;
  padding: 15px 5px;

  font-size: 1.6em;
  font-family: sans-serif;
  border: solid 1px #8c8c8c;
  border-radius: 2px;

  appearance: none;
}

/*parte do header e navegação*/

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.header__img {
  width: 15%;
  display: block;
  margin: 10px;
}

.login {
  color: white;
  font-family: sans-serif;
  background: #e50914;
  margin: 10px;

  font-size: 1.2em;
  font-weight: 400;

  align-self: center;
  padding: 7px 17px;

  border-radius: 3px;

  text-decoration: none;
}

section {
  overflow-x: hidden;
  background: black;
  padding: 0;
  border-top: solid 8px #222;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1.2fr));
  align-items: center;
  font-size: 62.5%;
  font-family: sans-serif;
  color: white;
}
.text-info {
  margin: 16px;
}

.text-info h1 {
  font-size: 5em;
  margin-bottom: 10px;
}

.text-info p {
  font-size: 2em;
  font-weight: 400;
}

/*img sections*/
.config-img {
  position: relative;
}
.config-img img {
  z-index: 1;
  position: relative;
}
.tv-video {
  position: absolute;
  padding: 0;
  width: 85%;
  max-width: 400vw;
  top: 80px;
  left: 70px;
}

.section-dowload {
  padding: 70px 45px;
}
.section-dowload .grid > div:first-child {
  order: 2;
}

.section-dowload {
  order: 1;
}
.section-dowload img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.section-dowload h2 {
  font-size: 1.625rem;
  font-weight: 400;
}

.cardanimation {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  margin: 0 auto;
  background: #000;
  z-index: 1;

  display: flex;
  /* align-items: center; */

  width: 60%;
  min-width: 15rem;
  padding: 7px 11px;
  border: solid 2px rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 2em 0 #000;

  border-radius: 0.75rem;
  align-items: center;
}

.cardanimation-img {
  width: 53px;
  height: 83px;

  margin-right: 16px;
}

.cardanimation-text h2 {
  margin: 4.8px 0;
  font-size: 1.5em;
  color: #fff;
  font-weight: 600;
}

.cardanimation-text p {
  color: #0071eb;
  font-size: 1em;
  font-weight: 400;
}

.animation-icon {
  width: 4em;
  height: 3em;
  outline: 2px solid #000;
  outline-offset: -2px;
  display: block;
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif)
    center center no-repeat;
  background-size: 100%;
  content: "";
  flex-grow: 0;
  flex-shrink: 0;
}

.section-portable .portable-video {
  position: absolute;
  width: 60%;
  top: 50px;
  left: 100px;
}

.section-kids .grid > div:first-child {
  order: 2;
}

.section-kids {
  order: 1;
}

/*footer and login*/

footer {
  background: black;
  text-align: center;

  border-top: #222 8px solid;
  padding: 4rem 0 2rem;

  display: grid;
  justify-content: center;
}
footer form {
  margin: 0;
}

footer p {
  margin-top: 2rem;
  color: #757575;
  font-size: 13px;
}

/*Responsi */
@media only screen and (min-width: 320px) and (max-width: 650px) {
  html {
    font-size: 50%;
    height: 100vh;
  }
  main {
    height: 80vh;
  }
  .text-login {
    text-align: center;
  }
  .text-login h1 {
    font-size: 4em;
    width: 80%;
  }
  .grid {
    padding: 16px;
  }
  .text-info {
    text-align: center;
  }
  .text-info h1 {
    font-size: 3em;
  }
  .text-info p {
    font-size: 2.5em;
  }

  .section-dowload {
    padding: 0;
  }
  .section-portable .grid > div:first-child {
    order: 2;
  }

  button::after {
    position: relative;
    top: 5px;
  }

  .form {
    width: 100%;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    margin-bottom: 10px;
  }
  button {
    width: 30%;
    padding: 10px;
    align-items: center;
  }
  .btnFooter {
    width: 50%;
  }
}
.section-portable .portable-video {
  position: absolute;
  width: 55%;
  top: 45px;
  left: 90px;
}
.tv-video {
  position: absolute;
  padding: 0;
  width: 85%;
  max-width: 400vw;
  top: 50px;
  left: 30px;
}
@media only screen and (min-width: 650px) {
  .grid {
    padding: 20px;
  }
}
