.row {
    color: #fff;
    margin-left: 20px;
}

.row__pottered {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__pottered::-webkit-scrollbar {
    display: none;
}


.row__potter {
    object-fit: contain;
    width: 100%;
    max-height: 120px;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;
    border-radius: 10px;
}

.row__potter:hover {
    transform: scale(1.08);   
}

.row__potterLardeg {
    max-height: 250px;

}

.row__potterLardeg :hover {
    transform: scale(1.09);
}